*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 1rem
}
header {
   position: fixed;
   top: 8%;
   left: 6%;
}
.container {
   margin: 0;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   top: 7%;
   right: 3%;
   width: 1220px;
   line-height: 60px;
  }
.cierre, label, #toggle {
   display: none;
}
.barra {
   display: flex;
   flex-direction: row;
      }
.barra li {
   margin: 0 70px 0 0;
   list-style: none;
   width: 120px;
   height: 50px;
   text-align: center;
}
.barra li a {
   
   display: block;
   text-decoration: none;
   font-family: 'IBM Plex Mono', monospace;
   font-weight: bold;
   color: rgb(56, 54, 54);
   }
.barra li a:hover {
   box-sizing: content-box;
   width: 100%;
  color: rgba(0, 128, 75, 0.815);
   }