*{
   margin: 0;
   padding: 0;
   
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 1rem;
   background-color: rgb(250, 237, 184);
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}
/* menu */

header {
   position: fixed;
   top: 2.7vh;
   width: 100%;
   z-index: 2;
}

.bd {
   position: fixed;
   top: 2.7vh;
   left: 6vw;
   z-index: 1;
   cursor: pointer;
   color:  rgb(109, 110, 110);
}

.container {
   background: rgba(253, 253, 253, 0.959);
   margin: 0;
   display: flex;
   justify-content: flex-end;
   position: fixed;
   top: 0;
   height: 10vh;
   width: 100vw;
   line-height: 60px;
}

label  {
   margin: 0 2vw 0 0;
   font-size: 1.5rem;
   display: none;
   color:  rgb(109, 110, 110);
}

#toggle {
   margin-top:1.5rem;
   display: none;
   
}

.barra {
   padding: 0.2%;
   right: 5vw;
   display: flex;
   position: fixed;
   flex-direction: row;
}

.barra li {
   margin: 0 1rem 0 0;
   list-style: none;
   width: 120px;
   height: 30px;
   text-align: center;
   align-items: center;
}

.barra li a {
   font-size: 1rem;
   display: block;
   text-decoration: none;
   font-family: 'IBM Plex Mono', monospace;
   font-weight: bolder;
   color: rgb(109, 110, 110);
}

.barra li a:hover {
   transition: 1s;
   box-sizing: content-box;
   color: rgba(247, 54, 47, 0.87);
}

/* fondo */
.corte {
   position: absolute;
   top: 60vh;
   width: 0.1vw;
   height: 70vh;
   border-left: 99vw solid rgba(136,216,176);
   border-top: 45vh solid transparent;
   border-bottom:45vh solid transparent;
   z-index: -1;
 }
/* Primer sección */
.first {
   margin: 7rem 7rem 12rem;
}

h1 {
   font-family:'IBM Plex Mono', monospace;
   margin:0;
   font-size: 3rem;
   color: rgb(75, 73, 73);
   font-weight: bolder;
}
.first p {
   padding-top: 1rem;
   padding-bottom: 2rem ;
   font-size: 1.1rem;
   color:  rgb(82, 79, 79);
}

.ctafirst {
   width: 30%;
   background-image: linear-gradient(70deg, rgb(241, 30, 65), rgba(248, 76, 104), rgb(233, 91, 209), rgb(162, 118, 233));
   cursor: pointer;
   margin-bottom: 8rem;
   display: flex;
   position: absolute;
   transform: translateY(2rem);
   Flex-direction: column-reverse;
   color: rgb(48, 41, 41);
   font-family:'IBM Plex Mono', monospace;
   font-weight: bolder;
   font-size: 1.1rem;
   text-align: center;
   line-height: 3rem;
   text-decoration: none;
}
.ctafirst:hover {
   background-image: linear-gradient(297deg,rgba(75, 235, 168) , rgba(60, 208, 235) , rgb(85, 158, 241));
   transition: 2s;
}

/* segunda sección episodios*/
#episodios {
   margin-left: 7rem ;
   padding-top: 19rem;
   color: rgb(75, 73, 73);
   font-weight: bolder;
   font-size: 2.5rem;
   font-family:'IBM Plex Mono', monospace;
}
.second {
   margin: 7vh 0 16vh 18vw;
   display: flex;
   flex-wrap: wrap;
}
.second iframe {
   padding: 0 1.5% 1.5% 1.5%;
}

/* tercera sección nosotros */
.nosotros {
   height: 40%;
   margin-left: 17vw;
   margin-bottom: 26vh;
   width: 100%;
}
 .nosotros p {
   position: absolute;
   margin: 0;
   width: 22rem;
   display: flex;
   transform: translate(23vw,-55vh);
   color: rgb(82, 79, 79); 
}

.nosotros h2 {
   position: absolute;
   font-family:'IBM Plex Mono', monospace;
   width: 25rem;
   height: 5rem;
   font-weight: bolder;
   font-size: 2.5rem;
   display: flex;
   transform: translate(23vw,-52vh);  
   color: rgb(75, 73, 73);
   }

.nosotros a{
   cursor: pointer;
}
/* cuarta etapa imagenes */

.entrevistas {
   margin: 0;
   height: 30%;
   display: block;
   position: relative;
   transform: translate(0.5vw,-45vh);
   line-height: 0;
   font-size: 0;
}
figcaption {
   width: 100%;
   height: 30%;
   font-weight: bolder;
   font-size: 2.5rem;
   font-family:'IBM Plex Mono', monospace;
   position: relative;
   transform: translate(8vw,-7vh);  
   color:rgb(75, 73, 73);
   }
/* Seccion alguno de nuestros temas */

.topicos {
   height: 10%;
   margin: 0 0 -18vh 5vw;
   display: block;
   transform: translateY(-36vh);
}
.topicos h2 {
   font-family:'IBM Plex Mono', monospace;
   width: 100%;
   height: 100%;
   font-weight: bolder;
   font-size: 2.5rem;
   color: rgb(75, 73, 73);
   text-align: center;
}
.topicos ul {
   width: 100%;
   height: 27vh;
   position: relative;
   list-style: none;
   display: flex;
   justify-content: center;
   transform: translateY(8vh);
}
.topicos ul li {
   padding-right: 3vw;
   padding-left: 1.5vw;
   height: 40%;
   cursor: pointer;
}

.topicos ul li a {
   text-decoration: none;
   color:rgb(75, 73, 73) ;
   text-align: center;
   font-weight: bold;
}

.iconi {
   display: block;
   align-items: center;
   text-decoration: none;
   font-style: normal;
   padding-top: 1vh;

}

footer {
   height: 10%;
   display: block;
   padding: 1.8%;
   background: rgba(218, 71, 66, 0.726);
}
.footer {
   padding-left: 3vw;
   color: rgb(31, 30, 30);
}

.footeri{
   display: inline-flex;
   position: relative;
   transform: translateX(60vw);
   cursor: pointer;
}
footer i {
   padding-left: 3.5vw;
   color: rgb(31, 30, 30);
   cursor: pointer;
   }
@media (max-width: 800px) {
      
   body {
      width: 100%;
      margin: 0;

   }
   .corte {
      position: absolute;
      top: 60vh;
      width: 0.01vh;
      height: 70vh;
      border-left: 26rem solid rgba(136,216,176);
      border-top: 45rem solid transparent;
      border-bottom:45rem solid transparent;
      z-index: -1;
   }
/* menu */
   header {
      z-index: 2;
      position: fixed;
   }

   .barra {
      display: none;
      flex-direction: column;
      padding-top: 3vh ;
      height: 45vh;
      width: 40vw;
      background: rgba(253, 253, 253, 0.959);      
   }
   .barra li {
      padding: 4%;
      margin-left: 7rem;
   }
   
   .menu {
      display: block;
      cursor: pointer;
   }

   .cierra {
      display: none;
   }
   label {
      width: -20%;
   }

   .toggle {
      display: block;
      z-index: 1;
   }

   #toggle:checked + .barra {
      display: block;      
   }

   /* primera seccion */
   .first {
      margin-left: 4rem;
      width: 70%;
      height: 100%;
   }
   .first h1 {
      margin-bottom: 1.2rem;
      font-size: 2.8rem;
   }
   
   .first h1 p {
      font-size: .8rem;
      font-weight: bolder;
   }

   .ctafirst {
      margin-bottom: 3rem
   }
   /* segunda seccion */

   #episodios {
      font-size: 2.7rem;
      margin: 4rem;
   }
   .second {
      margin: 3rem;
      display: flex;
      align-content: center;
      flex-direction: column;
   }
   .second iframe {
   width: 100%;
   height: 100%;
   }
   /* tercera seccion */
   .nosotros { 
      width: 100%;
      height: 100%;
      display: flex;
      align-content:center;
      margin: 3.3rem;
   }
   .nosotros a {
      height: 40%;
      margin-bottom: 2.5vh;
   }
   .nosotros h2 {
      margin-top: 2.5rem;
      margin-left: 1.8rem;
      width: 70%;
      display: flex;
      position: absolute;
      justify-content: center;
      transform: translateY(60vh);  
   }
   .nosotros p {
      margin: 0;
      width: 70%;
      display: flex;
      position: absolute;
      justify-content: center;
      transform: translateY(86vh);
   }
   /* cuarta seccion */
   .entrevistas {
      width: 20%;
      height: 60%;
      margin-top:120vh;
      margin-left: 16vw;
      display: flex;
      position: relative;
      flex-direction: column;

   }

   figcaption {
      width: 30%;
      position: absolute;
      line-height: 1;
      transform: translate(-5vw,-19vh);
   }
   /* ultimo segmento */

   .topicos {
      height: 100%;
      margin: 0 0 15vh 19vw;
      display: flex;
      flex-direction: column;
   }

   .topicos h2 {
      margin-left: -12vw;
   }

   .topicos ul {
      margin-top: 18vh; 
      flex-direction: column;
   }
   .topicos ul li {
      padding: 3.5rem;
   }
   .iconi {
      padding-top: 2vh;
      transform: translateX(-11vw);
   }

   footer {
      width: 72%;
   }

   .footer {
      font-size: .6rem;
   }
   .footeri{
      position: relative;
      transform: translateX(3vw);
   }
}

